.body {
  background-repeat: no-repeat;
  background-size: auto;
}

.titcarousel {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  font-size: 50px !important;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 15.25rem !important;
  left: 15% !important;
  top: 30% !important;
  padding-top: 1.25rem;
  padding-bottom: 15.25rem;
  color: #e2e2e2 !important;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  font-size: 35px;
  background-color: rgba(138, 138, 138, 0.8);
  border-radius: 5px;
}

.cuerpo {
  position: relative;
  top: 0px;
  bottom: 0px;
}

.quienessomos {
  background-image: url(../imagenes/fondo2.png);
  color: blanchedalmond;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
}

.paragraph-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px;
  display: flex;
  justify-content: space-around;
}

.container1 {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container2 {
  width: fit-content;
  text-align: justify;
}

.paragraph-1 {
  font-size: 20px;
}

.paragraph-2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 30px;
  line-height: 30px;
  margin-top: 0px;
}

.p21 {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 60px;
  line-height: 30px;
}

.p22 {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 60px;
  line-height: 30px;
}

.actividades {
  background-image: url(../imagenes/fondo2.png);
}

.act-container {
  background-color: rgba(153, 205, 50, 0.6);
  color: blanchedalmond;
}

.boton {
  display: flex;
  justify-content: center;
}
.boton:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.VER-MAS {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 10px;
  color: white;
  background-color: none;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.774);
  padding: 5px;
}

#PERSONAL {
  background-image: url(../imagenes/fondo2.png);
  color: blanchedalmond;
}

.c.card-img, .card-img-bottom, .card-img-top {
  width: 150px !important;
  margin: auto;
}

.card-title {
  color: blanchedalmond;
}

.card-text {
  color: blanchedalmond;
}

.horarios {
  background-image: url(../imagenes/fondo2.png);
}

.accordion-button {
  margin: 8px;
}

.card {
  color: black;
  text-align: center;
}

.contacto {
  background-image: url(../imagenes/fondo2.png);
}

.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 600 !important;
  color: blanchedalmond;
}

.accordion-button {
  color: blanchedalmond !important;
}

.accordion-button:not(.collapsed) {
  color: blanchedalmond !important;
}

.card-img-top2 {
  width: 60px;
  height: 60px;
  margin: auto;
}

.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.subtitulo {
  text-align: center;
}

.h1-2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.h2-2 {
  font-family: "Roboto", sans-serif;
}

.PIE {
  background-color: black;
  text-decoration: white;
  margin-top: 50px;
}

.marca1 {
  width: 170px;
  height: 100px;
  margin: auto;
}

.marca2 {
  height: 100px;
  margin: auto;
}

.marca3 {
  height: 100px;
  width: 170px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
