.body {
  background-color: rgba(0, 0, 0, 0.932);
  background-repeat: no-repeat;
  background-size: auto;
}

.navbar-brand {
  transition: all 2s;
}
.navbar-brand:hover {
  transform: scale(1.2);
}

.nav-items .nav-link {
  color: chartreuse !important;
  font-weight: bold;
}
.nav-items .nav-link:hover {
  background: chartreuse;
  color: black !important;
  border-radius: 6px;
}

.titcarousel {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  font-size: 50px !important;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 15.25rem !important;
  left: 15% !important;
  top: 30% !important;
  padding-top: 1.25rem;
  padding-bottom: 15.25rem;
  color: #e2e2e2 !important;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 900 !important;
  font-size: 35px;
  background-color: rgba(138, 138, 138, 0.8);
  border-radius: 5px;
}

.cuerpo {
  position: relative;
  top: 0px;
  bottom: 0px;
}

.quienessomos {
  color: blanchedalmond;
  background-image: url(../imagenes/fondo2.png);
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
  background-color: rgba(153, 205, 50, 0.6);
}

.paragraph-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px;
  display: flex;
  justify-content: space-around;
}

.container1 {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container2 {
  width: fit-content;
  text-align: justify;
}

.paragraph-1 {
  font-size: 20px;
}

.paragraph-2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 30px;
  line-height: 30px;
  margin-top: 0px;
}

.actividades {
  background-image: url(../imagenes/fondo2.png);
}

.act-container {
  background-color: rgba(153, 205, 50, 0.6);
  color: blanchedalmond;
  margin-bottom: 30px;
}

.contenedor-actividad {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-actividad figure {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px chartreuse;
}
.contenedor-actividad figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedor-actividad figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor-actividad figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor-actividad figure:hover > .capa h6 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.contenedor-actividad figure .capa h6 {
  color: blanchedalmond;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 300px;
  font-weight: bold;
  font-size: 30px;
}

.contenedor-actividad figure .capa ul {
  color: blanchedalmond;
  text-align: center;
  list-style: none;
}

#PERSONAL {
  color: blanchedalmond;
  background-image: url(../imagenes/fondo2.png);
}

.c.card-img, .card-img-bottom, .card-img-top {
  width: 150px !important;
  margin: auto;
}

.card-title {
  color: blanchedalmond;
}

.card-text {
  color: blanchedalmond;
}

.horarios {
  background-image: url(../imagenes/fondo2.png);
}

.accordion-button {
  margin: 8px;
}

.card {
  color: black;
  text-align: center;
}

.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 600 !important;
  color: blanchedalmond;
}

.accordion-button {
  color: blanchedalmond !important;
}

.accordion-button:not(.collapsed) {
  color: blanchedalmond !important;
}

.card-img-top2 {
  width: 60px;
  height: 60px;
  margin: auto;
}

.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.subtitulo {
  text-align: center;
}

.h1-2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.h2-2 {
  font-family: "Roboto", sans-serif;
}

.boton-formulario:hover {
  background-color: chartreuse !important;
  color: black !important;
}

@media only screen and (max-width: 768px) {
  .col-sm-12 {
    margin: auto;
  }
}
.PIE {
  background-color: black;
  text-decoration: white;
  margin-top: 50px;
}

.marca1 {
  width: 170px;
  height: 100px;
  margin: auto;
}

.marca2 {
  height: 100px;
  margin: auto;
}

.marca3 {
  height: 100px;
  width: 170px;
  margin: auto;
}

.boton-pie {
  color: chartreuse;
  text-decoration: none;
  font-weight: bold;
}
.boton-pie:hover {
  background-color: chartreuse;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

:root {
  --instagram: #e4405f;
  --facebook:#3b5999;
  --twitter:#55acee;
  --youtube: #bd081c;
}

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: chartreuse 0 3px 5px 0px;
  transition: 2s;
}

.redes-container ul:hover a {
  filter: blur(2px);
}

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

.redes-container ul li .facebook:hover {
  background: var(--facebook);
}

.redes-container ul li .instagram:hover {
  background: var(--instagram);
}

.redes-container ul li .twitter:hover {
  background: var(--twitter);
}

.redes-container ul li .youtube:hover {
  background: var(--youtube);
}

/*# sourceMappingURL=style.css.map */
