/*botones header*/
$colorheader: rgb(127, 255, 0);
$fuenteheader: font-weight bold; 


/*botones pie página*/
$colorpie: chartreuse;
$decoraciónpie: text-decoration none;
$fuentepie: font-weight bold;

/*h2*/

$fuenteh2: 'Roboto', sans-serif;
$fontsizeh2: font-size 25px;
$alineacionh2: text-align center;
$anchofuenteh2: font-weight 600;
$colorh2: color blanchedalmond;

